<!doctype html>
<html lang="en">
  <head>
    <title>Afro Nerd Media</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/superslides.css" rel="stylesheet">
    <link href="assets/css/mediaelementplayer.css" rel="stylesheet">
    <link href="assets/Core/css/shiPlayer.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
  </head>
  <body class="front">
    <div id="main">
      <div class="header-v1">
        <div class="container">
          <div class="header-inner clearfix">
            <header>
              <div class="logo_wrapper">
                <a href="index.html" class="logo">
                  <img style="width: 160px;" src="assets/images/logotest.png" alt="cant find" class="img-fluid">
                </a>
              </div>
            </header>
            
            <ul class="social-top clearfix">
              <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
              <div class="btn-wrapper">
                <a href="/login" class="btn4">Login</a>
                <a href="/register" class="btn5">Sign up</a>
              </div>
            </ul>
            <nav class="navbar_ navbar navbar-expand-md clearfix">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav sf-menu clearfix">
                  <li class="nav-item sub-menu">
                    <a href="index.html" class="active nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="../dark/index.html">DARK SITE VERSION</a></li>
                        <li><a href="index.html">LIGHT SITE VERSION</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="channels.html" class="nav-link">Channels</a></li>
                  <!-- <li class="nav-item sub-menu">
                    <a href="#" class="nav-link">Media <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="sf-mega">
                      <ul>
                        <li><a href="featured.html">FEATURED MUSIC</a></li>
                        <li><a href="featured.html">FEATURED ARTISTS</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li> -->
                  <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>