<%- include("../includes/header"); -%>
<style>
  .imgrow {
    /* margin: 150px; */
    /* float: right; */
  }

  .container.left-side {
    /* float: right; */
  }

  .newcontainer {
    background-image: linear-gradient(to bottom right, #f1d818 , #f87a01); 
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .grad {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .cirle {
    background-color: black;
    width: 30px;
    height: 30px;
    /* margin-left: 12px;
    margin-right: 12px; */
    border-radius: 80px;
    padding: 10px;
    margin-bottom: 10px;

  }

  .right-side {
    text-align: right;
    margin-top: 60px;
  }

  .buttg {
    /* margin-top: 100px; */
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to  right, #F2CD16 , #f8780100);
    font-family:cursive;
  }
</style>
      <div id="home" class="">
        <div id="slides_wrapper" class="">
          <div id="slides">
            <ul class="slides-container">
              <li>
                <img src="assets/images/slide01.png" alt="" class="img">
                <div class="caption">
                  <div class="container">
                    <div class="img1"><img style="width:27em;" src="assets/images/slide01-logo.png" alt="" class="img-fluid preserve"></div>
                    <div class="txt1"><a href="#" class="btn2">Try Listen</a></div>
                  </div>
                </div>
              </li>
              <li>
                <img src="assets/images/slide02.jpg" alt="" class="img">
                <div class="caption">
                  <div class="container">
                    <div class="img1"><img style="width:35em;" src="assets/images/002.png" alt="" class="img-fluid preserve"></div>
                    <div class="txt1"><a href="#" class="btn2">Try Listen</a></div>
                  </div>
                </div>
              </li>
              <li>
                <img src="assets/images/slide03.png" alt="" class="img">
                <div class="caption">
                  <div class="container">
                    <div class="img1"><img style="width:36em;" src="assets/images/003.png" alt="" class="img-fluid preserve"></div>
                    <div class="txt1"><a href="#" class="btn1">Try Listen</a></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="mouse"><a href="#welcome" class="scroll-to"><img src="images/mouse.png" alt="" class="img-responsive"></a></div>
        <div class="audio1-wrapper">
          <div class="container">
            <div class="audio1-inner">
              <div class="audio1-txt">
                <div class="txt1">Lalo (Jesica</div>
                <div class="txt2">Bernshtein) & Binno</div>
              </div>
              <div class="audio1">
                <audio controls="controls" preload="none" class="audio" style="width: 100%; visibility: hidden;">
                  <source type="audio/mpeg" src="assets/audio/song1.mp3"/>
                  <source type="audio/mpeg" src="assets/audio/song2.mp3"/>
                  <source type="audio/mpeg" src="assets/audio/song3.mp3"/>
                  <source type="audio/mpeg" src="assets/audio/song4.mp3"/>
                </audio>
              </div>
              <div class="audio1-cust-icon">
                <i class="fa fa-music" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="welcome" class="page-section">
        <div class="container">

          <div class="title1">Feature Music Channels</div>

          <div class="title2">Check out our feagured music channels. You can easily listen our music channels on<br><a href="#">iTunes</a> or <a href="#">Google Play</a></div>

          <div class="row">
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul1"></div>
                  <div class="player player1"></div>
                  <div class="shiPlayer" id="radio1" data-tag="">
                    <!-- <img src="assets/images/logo2.png" alt="bg bg"> -->
                    <div class="blur" style="background-image: url('assets/images/blur.jpg');"></div>
                    <div class="mainSection"><div class="panel1" style="display: block;"><div class="top"><div class="trackTitle">Track Title</div><div class="trackSinger">Track Artist</div></div><div class="middle"><div class="centered-vertically"></div><div class="play"><div class="playpausebtn icon-play-r"></div><div class="frontTiming">00:00 / </div></div></div></div><div class="panel2" style="display: none;"><ul></ul></div><div class="panel3" style="display: none;"><div class="rLogo" title="" style="background-image: url(&quot;Core/img/logo2.png&quot;);"></div><div class="rName"><span class="icon-radio-tower"></span><span class="ct">
                      
                    </span></div><div class="cListeners"><span class="icon-headphones"></span><span class="ct"></span></div><div class="pListeners"><span class="icon-power"></span><span class="ct"></span></div><div class="rSite"><span class="icon-link"></span><span class="ct"></span><a target="_blank" href="" title="Stream Website">Stream Website</a></div><div class="rTags"><span class="icon-tag"></span></div></div></div>
                    <!-- ICONS BOTTOM -->
                      <div class="dashboard">
                        <div class="centered-vertically"></div>
                        <div class="icon-Info"></div>
                        <div class="icon-history2"></div>
                        <div class="live" style="width: 50px">
                          <div class="bliking"></div>
                          <div class="icon"></div>
                        </div>
                        <div class="sound shake icon-volume-high"></div>
                        <div class="share-button ">
                          <div class="social-toggle icon-share"></div>
                          <div class="social-networks">
                            <ul>
                              <li class="social-twitter icon-twitter">
                                <a target="_blank" href="https://twitter.com/home?status=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-facebook icon-facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-gplus icon-google-plus"><a target="_blank" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-email icon-email"><a target="_blank" href="#"></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
                <div class="caption">
                  <div class="txt1">POP MUSIC CHANNEL</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="shiPlayer-wrapper">
                <div class="shiPlayer-inner">
                  <div class="vinul vinul2"></div>
                  <div class="player player2"></div>
                  <div class="shiPlayer" id="radio2" data-tag="">
                    <div class="blur" style="background-image: url('assets/images/blur.jpg');"></div>
                    <div class="mainSection"><div class="panel1" style="display: block;"><div class="top"><div class="trackTitle">Track Title</div><div class="trackSinger">Track Artist</div></div><div class="middle"><div class="centered-vertically"></div><div class="play"><div class="playpausebtn icon-play-r"></div><div class="frontTiming">00:00 / </div></div></div></div><div class="panel2" style="display: none;"><ul></ul></div><div class="panel3" style="display: none;"><div class="rLogo" title="" style="background-image: url(&quot;Core/img/logo2.png&quot;);"></div><div class="rName"><span class="icon-radio-tower"></span><span class="ct"></span></div><div class="cListeners"><span class="icon-headphones"></span><span class="ct"></span></div><div class="pListeners"><span class="icon-power"></span><span class="ct"></span></div><div class="rSite"><span class="icon-link"></span><span class="ct"></span><a target="_blank" href="" title="Stream Website">Stream Website</a></div><div class="rTags"><span class="icon-tag"></span></div></div></div>
                    
                    <!-- ICONS BOTTOM -->
                      <div class="dashboard">
                        <div class="centered-vertically"></div>
                        <div class="icon-Info"></div>
                        <div class="icon-history2"></div>
                        <div class="live" style="width: 50px">
                          <div class="bliking"></div>
                          <div class="icon"></div>
                        </div>
                        <div class="sound shake icon-volume-high"></div>
                        <div class="share-button ">
                          <div class="social-toggle icon-share"></div>
                          <div class="social-networks">
                            <ul>
                              <li class="social-twitter icon-twitter">
                                <a target="_blank" href="https://twitter.com/home?status=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-facebook icon-facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-gplus icon-google-plus"><a target="_blank" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.gridgum.com%2Fbootstrap%2Fhit-radio%2Fwhite%2Findex.html"></a>
                              </li>
                              <li class="social-email icon-email"><a target="_blank" href="#"></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="caption">
                  <div class="txt1">CLASSICAL MUSIC</div>
                  <div class="txt2">Lorem ipsum dolor sit amet concateur</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      
      <div class="container">
        <div class="row">
          
          <div class="col-md-6 col-xl-4">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure>
                    <img src="assets/images/zone.png" alt="" class="img-fluid">
                    
                  </figure>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure>
                    <img src="assets/images/nerd.png" alt="" class="img-fluid">
                    
                  </figure>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure>
                    <img src="assets/images/mix.png" alt="" class="img-fluid">
                    
                  </figure>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
          
      </div>

      <div class="newcontainer">
        <div class="container grad">
          <div class="row">
            <div class="col-lg-6  left-side">
              <h3 style="font-size:25px; font-weight: 400;">Ai Recommended</h3>
              <h3 style="font-size: 45px;">Contemporary Mix</h3>
              <p style="color: beige; font-size: 16px;">This is an Ai Curated Playlist using Algorithms  from user engagements, Favorites & Most Played Music &
                <br>Playlists Streams
              </p>
              <button class="btn btn-large">Listen Now</button>
    
            </div>
            <div class="col-lg-6 right-side">
              <h4 style="font-size:25px; font-weight: 400; color: beige;">Followers <span class="cirle">150</span></h4>
              <h4 style="font-size:40px; font-weight: 400; color: beige;"><span class="buttg">Follow Playlist</span></h4>
            </div>
  
          </div>
        </div>

      </div>
      
 
      <div id="top-5" class="page-section">
        <div class="container">

          <div class="title1">Top 5 Popular Musics</div>

          <div class="title2">Listen to out Top 5 Tracks currently Ranking on the contest</div>

          <div class="radios">
            <div class="radio1 clearfix">
              <div class="sec1">
                <div class="txt1">Jazzrock</div>
                <div class="txt2">2017 by Melor Doplin</div>
              </div>
              <div class="sec2">
                <div class="sec2-music">
                  <figure>
                    <img src="http://via.placeholder.com/40x40" alt="" class="img-fluid">
                  </figure>
                  <div class="caption">
                    <div class="top">
                      <div class="txt1">“Amapolo” - Laura Bernshtein</div>
                      <div class="txt2">
                        <div class="radio-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div>
                    <div class="txt3">
                      <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Jazz Rock</div>
                      <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Mecovache Studio</div>
                      <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.5 Million Copies</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 03.34</div></div>
              <div class="sec4">
                <div class="audio2">
                  <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                    <source type="audio/mpeg" src="assets/audio/song1.mp3"/>
                  </audio>
                </div>
              </div>
            </div>
            <div class="radio1 clearfix">
              <div class="sec1">
                <div class="txt1">Hard Rock</div>
                <div class="txt2">2017 by John Doe</div>
              </div>
              <div class="sec2">
                <div class="sec2-music">
                  <figure>
                    <img src="http://via.placeholder.com/40x40" alt="" class="img-fluid">
                  </figure>
                  <div class="caption">
                    <div class="top">
                      <div class="txt1">“Chicherio” - Sam Hichcock</div>
                      <div class="txt2">
                        <div class="radio-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div>
                    <div class="txt3">
                      <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Hard Rock</div>
                      <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Mecovache Studio</div>
                      <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.2 Million Copies</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 04.23</div></div>
              <div class="sec4">
                <div class="audio2">
                  <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                    <source type="audio/mpeg" src="assets/audio/song2.mp3"/>
                  </audio>
                </div>
              </div>
            </div>
            <div class="radio1 clearfix">
              <div class="sec1">
                <div class="txt1">Bassanova</div>
                <div class="txt2">2017 by Tsapa Music</div>
              </div>
              <div class="sec2">
                <div class="sec2-music">
                  <figure>
                    <img src="http://via.placeholder.com/40x40" alt="" class="img-fluid">
                  </figure>
                  <div class="caption">
                    <div class="top">
                      <div class="txt1">“Lolita” - John Doe</div>
                      <div class="txt2">
                        <div class="radio-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div>
                    <div class="txt3">
                      <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Bossanova</div>
                      <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Mecovache Studio</div>
                      <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 1.7 Million Copies</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 02.57</div></div>
              <div class="sec4">
                <div class="audio2">
                  <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                    <source type="audio/mpeg" src="assets/audio/song3.mp3"/>
                  </audio>
                </div>
              </div>
            </div>
            <div class="radio1 clearfix">
              <div class="sec1">
                <div class="txt1">Jazz Vocal</div>
                <div class="txt2">2017 by Leo Messi</div>
              </div>
              <div class="sec2">
                <div class="sec2-music">
                  <figure>
                    <img src="http://via.placeholder.com/40x40" alt="" class="img-fluid">
                  </figure>
                  <div class="caption">
                    <div class="top">
                      <div class="txt1">“Moon Light” - Lora Friman</div>
                      <div class="txt2">
                        <div class="radio-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div>
                    <div class="txt3">
                      <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Jazz Vocal</div>
                      <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Mecovache Studio</div>
                      <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 2.3 Million Copies</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 05.12</div></div>
              <div class="sec4">
                <div class="audio2">
                  <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                    <source type="audio/mpeg" src="assets/audio/song4.mp3"/>
                  </audio>
                </div>
              </div>
            </div>
            <div class="radio1 clearfix">
              <div class="sec1">
                <div class="txt1">1980’s Pop Music</div>
                <div class="txt2">2017 by Mikha Gabechava</div>
              </div>
              <div class="sec2">
                <div class="sec2-music">
                  <figure>
                    <img src="http://via.placeholder.com/40x40" alt="" class="img-fluid">
                  </figure>
                  <div class="caption">
                    <div class="top">
                      <div class="txt1">“Mudi Vudi” - George Smith</div>
                      <div class="txt2">
                        <div class="radio-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div>
                    <div class="txt3">
                      <div class="ic2"><i class="fa fa-microphone" aria-hidden="true"></i> Pop Music</div>
                      <div class="ic2"><i class="fa fa-sliders" aria-hidden="true"></i> Mecovache Studio</div>
                      <div class="ic2"><i class="fa fa-circle-o" aria-hidden="true"></i> 4.2 Million Copies</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sec3"><div class="txt1"><i class="fa fa-clock-o" aria-hidden="true"></i> 03.51</div></div>
              <div class="sec4">
                <div class="audio2">
                  <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                    <source type="audio/mpeg" src="assets/audio/song1.mp3"/>
                  </audio>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <!-- <div id="feature-news" class="page-section">
        <div class="container">

          <div class="title1">Feature News</div>

          <div class="title2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at convallis felis.<br>Etiam euismod sem et dui sagittis, et faucibus libero tristique. Nunc ultricies faucibus enim.</div>

          <div class="row">
            <div class="col-lg-6">
              <div class="feature-news">
                <div class="row">
                  <div class="col-md-8 img-col">
                    <figure>
                      <img src="http://via.placeholder.com/370x370" alt="" class="img-fluid">
                      <div class="audio3-wrapper clearfix">
                        <div class="audio3">
                          <audio class="audio" preload="none" style="width: 100%; visibility: hidden;" controls="controls">
                            <source type="audio/mpeg" src="assets/audio/song1.mp3"/>
                          </audio>
                        </div>
                        <div class="audio3-caption">
                          <div class="txt1"><span>symphonic</span></div>
                          <div class="txt2"><span>JOHAnN SEBASTIAN BACH - PRELUDIO</span></div>
                        </div>
                      </div>
                    </figure>
                  </div>
                  <div class="col-md-4 txt-col">
                    <div class="caption">
                      <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> John Bernshtein</div>
                      <div class="txt2">lorem ipsum dolor site amet concateur non troppo duo !</div>
                    </div>
                    <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2021</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-news2">
                <div class="row">
                  <div class="col-md-4 img-col">
                    <figure>
                      <img src="http://via.placeholder.com/170x170" alt="" class="img-fluid">
                    </figure>
                  </div>
                  <div class="col-md-8 txt-col align-self-center">
                    <div class="caption">
                      <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> Amanda Clarck</div>
                      <div class="txt2">lorem ipsum dolor site amet SOUND concateur non troppo duo !</div>
                      <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2021</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="feature-news2">
                <div class="row">
                  <div class="col-md-4 img-col">
                    <figure>
                      <img src="http://via.placeholder.com/170x170" alt="" class="img-fluid">
                    </figure>
                  </div>
                  <div class="col-md-8 txt-col align-self-center">
                    <div class="caption">
                      <div class="txt1"><i class="fa fa-user" aria-hidden="true"></i> John Doe</div>
                      <div class="txt2">lorem ipsum dolor site amet SOUND concateur non!</div>
                      <div class="txt3"><i class="fa fa-clock-o" aria-hidden="true"></i> Oct 6, 2021</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div> -->
      <div id="contact-form" class="page-section">
        <div class="container">

          <div class="title1">Contact form</div>

          <div class="title2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus <br>at convallis felis. </div>

          <div id="note"></div>
          <div id="fields">
            <form id="ajax-contact-form" class="form-horizontal form-dark clearfix" action="javascript:;">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-group-email">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" id="inputEmail" name="email" value="E-mail address" placeholder="Email *" onBlur="if(this.value=='') this.value='E-mail address'" onFocus="if(this.value =='E-mail address' ) this.value=''">
                  </div>
                  <div class="form-group form-group-name">
                    <label for="inputName2">Name</label>
                    <input type="text" class="form-control" id="inputName2" name="name" value="Full Name" placeholder="Name" onBlur="if(this.value=='') this.value='Full Name'" onFocus="if(this.value =='Full Name' ) this.value=''">
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="form-group form-group-message">
                    <label for="inputMessage2">Message</label>
                    <textarea class="form-control" rows="5" id="inputMessage2" name="content" placeholder="Message *" onBlur="if(this.value=='') this.value='Message'"
                              onFocus="if(this.value =='Message' ) this.value=''"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group capthca">
                    <label for="inputCapthca" class="sr-only">Capthca</label>
                    <input type="text" class="form-control" id="inputCapthca" name="capthca"
                           value="Capthca" onBlur="if(this.value=='') this.value='Capthca'"
                           onFocus="if(this.value =='Capthca' ) this.value=''">
                  </div>
                  <div class="form-group img">
                    <img src="captcha/captcha.php" alt="">
                  </div>
                </div>
              </div>
              <div class="text-left"><button type="submit" class="btn3">send message &nbsp; <i class="fa fa-paper-plane" aria-hidden="true"></i></button></div>
            </form>
          </div>
        </div>
      </div>



      <!-- <div id="google_map"></div> -->
      <%- include("../includes/footer"); -%>